{% extends "base.html" %}

{% block contenido %}
    <section>
    {% load url from future %}

    {% if ultimas_entradas %}
        
        {% for entrada in ultimas_entradas %}
            <article><h1 class="page-header"><a href="{% url 'blog:pub' entrada.id %}">{{ entrada.titulo }}</a></h1>
                <p class="lead text-justify">{{ entrada.contenido }}</p></article>
        {% endfor %}
        
    {% else %}
        <p class="lead">No hay publicaciones.</p>
    {% endif %}
    </section>
{% endblock %}

